{% extends "base.html" %}

{% block content %}
<h1>All Books</h1>

<p><a href="{% url 'add_book' %}">Add New Book</a></p>

<div class="flex flex-wrap">
  {% for book in books %}
  <div class="w-33 pa3">
    <a href="{% url 'show_book' pk=book.pk %}">
      <h2>{{ book.title }}</h2>
    </a>

    {% if book.author %}
    <div class="flex">
      <div class="pr2"><i class="icofont-phone"></i></div>
      <div>{{ book.author }}</div>
    </div>
    {% endif %}

    {% if book.description %}
    <div class="flex">
      <div class="pr2"><i class="icofont-ui-email"></i></div>
      <div>{{ book.description }}</div>
    </div>
    {% endif %}

    {% if book.url %}
    <div class="flex">
      <div class="pr2"><i class="icofont-ui-email"></i></div>
      <div>{{ book.url }}</div>
    </div>
    {% endif %}

    {% if book.date_added %}
    <div class="flex">
      <div class="pr2"><i class="icofont-ui-email"></i></div>
      <div>{{ book.date_added }}</div>
    </div>
    {% endif %}

    <p>
      <a href="{% url 'edit_book' pk=book.pk %}">Edit Book</a><br>
      <a class="red" href="{% url 'delete_book' pk=book.pk %}">Delete Book</a>
    </p>
  </div>
  {% endfor %}
</div>
{% endblock %}